.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  ---border-image: linear-gradient(to right, green 90%, #ADF2F7 100%);
  display: inline-block;
  ---border-left: 18px solid #0F0;
  border-top: 9px solid #0F0;
  border-right: 18px solid #FF0;
  border-bottom: 8px solid transparent;
  box-sizing: border-box;
  animation: rotation 9s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 