body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  cursor: none;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.snowflake-cursor {  
  position: absolute;  
  width: 2.2%;   
  height: 5%;   
  background-image: url('1.png');   
  background-size: contain; 
  background-repeat: no-repeat; 
  z-index: 10; 
  pointer-events: none;
}

@keyframes rainbow {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.center-image { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 66vw; 
  height: 66vh; 
  background-image: url('image.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  z-index: 1; 
} 

.track-title {
  position: relative; 
  top: 15vh;
  left: 10.5vw;     
}

.track-name,
.track-artist {
  color: #fff;
  font-weight: bold;
  margin-bottom: -1.8vh;
}

.track-name {
  font-size: 2.2vw;
}

.track-artist {
  font-size: 1.5vw;
}

.top-left-image {
  position: absolute; 
  top: 14vh; 
  left: 2.4vw; 
  width: 16vw; 
  height: 20vh; 
  background-image: url('ball.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2; 
}

.button {
  position: absolute;
  display: flex;               
  background-color: transparent; 
  border: none; 
  cursor: none; 
  z-index: 5; 
  background: linear-gradient(45deg, #ffffff, #999999);
  color: transparent; 
  -webkit-background-clip: text;
  -moz-background-clip: text; 
}

#play-button {
  left: 12%; 
  top: 25.8%; 
  font-size: 5.5vw;
}

#pause-button {
  left: 3.2%; 
  font-size: 3.3vw;
  top: 38%;
}

.slider-container {
  display: flex; 
  gap: 20px; 
  width: 65vw; 
}

.slider {
  position: relative;
  top: 22vh;  
  -webkit-appearance: none;
  left: 14%; 
  width: 20vw; 
  height: 0.6vh;
  background: linear-gradient(45deg, #ffd700, #1DB954);
  border-radius: 5px;
  cursor: pointer; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2vw;
  height: 6vh;
  background: url('tree.png') no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2vw;
  height: 6vh;
  background: url('tree.png') no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

.volume-label {
  position:relative; 
  display: inline-block;
  color: #ffffff;
  margin-left: 10%; 
  margin-top: 10%; 
  left: 38vw; 
  top: 21vh;
  font-size: 1.4vw;
  
  }
  
  .time-container {
  position:relative; 
  color: #ffffff; 
  left: 14.5vw;
  font-size: 1.4vw;
  top: 18vh;
  }
  .time-container,
  .current-time,
  .total-time{
  display: inline-block;
  }

@media screen and (max-width: 1204px), (max-height: 680px) {
.top-left-image {
width: 14vw; 
height: 19vh; 
}
#play-button {
top: 28.8%; 
font-size: 6vw;
}
#pause-button {
font-size: 3.8vw;
top: 41%;
}
.track-title {
top: 16vh;
left: 12vw;     
}
.time-container {
left: 15.5vw;
top: 18.5vh;
}
}  
@media screen and (max-width: 1190px), (max-height: 690px) {
.top-left-image {
top: 18vh;
}
.volume-label {
width: 20vw;
}

}  
@media screen and (max-width: 1080px), (max-height: 690px) {

#play-button {
top: 29.3%; 
font-size: 6.3vw;
}
#pause-button {
font-size: 3.9vw;
top: 41%;
}
.track-title {
top: 19vh;
}
}  
@media screen and (max-width: 980px), (max-height: 690px) {
.top-left-image {
width: 14vw;
height: 16vh;
}
.track-title {
top: 21vh;
}
}  
@media screen and (max-width: 1080px), (max-height: 690px) {

#play-button {
top: 29.3%; 
font-size: 6.3vw;
}
#pause-button {
font-size: 3.9vw;
top: 41%;
}
.track-title {
top: 19vh;
}
}  
@media screen and (max-width: 980px), (max-height: 690px) {
.top-left-image {
width: 14vw;
height: 16vh;
}
.track-title {
top: 21vh;
}
}  

@media screen and (max-width: 930px), (max-height: 690px) {
.top-left-image {
top: 20vh;
}
.slider {
top:17vh;
}
.volume-label {
top:17vh;
}
.time-container{
top: 14.8vh;
}
}
@media screen and (max-width: 840px), (max-height: 690px) {
  .top-left-image {
  width: 15vw;
  height: 15vh;
  }
  .time-container{
  top: 14.5vh;
  }
  .track-title {
  top: 23vh;
  }
}
@media screen and (max-width: 840px), (max-height: 690px) {
  .top-left-image {
    top: 23vh;
  }
  .slider {
    top:15vh;
  }
  .volume-label {
    top:14vh;
    }
  .time-container{
    top: 11.5vh;
  }
  .track-title {
    top: 25vh;
    }
}
@media screen and (max-width: 790px), (max-height: 690px) {
  .top-left-image {
    width: 14vw;
    height: 13vh;
  }
}
@media screen and (max-width: 700px), (max-height: 690px) {
  .track-title {
    left: 13vh;
    }
}
@media screen and (max-width: 670px), (max-height: 690px) {
  #play-button {
    top: 29.3%; 
    font-size: 7vw;
    }
  #pause-button {
    font-size: 4.3vw;
    top: 41%;
  }
  .track-title {
    top: 26vh;
    left: 14vh;
  }
  .track-name {
    font-size: 3vw;
  }
  
  .track-artist {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 670px), (max-height: 690px) {
  .track-title {
    left: 13vh;
    }

}
@media screen and (max-width: 610px), (max-height: 690px) {
  .top-left-image {
    top: 25vh;
    width: 13vw;
    height: 12vh;
  }
  .slider {
    top:11vh;
  }
  .volume-label {
    top:11.8vh;
    }
  .time-container{
    top: 9vh;
  }
  .track-title {
    left: 12vh;
    }
}
@media screen and (max-width: 580px), (max-height: 690px) {
  .top-left-image {
    top: 25vh;
    width: 11vw;
    height: 11vh;
  }
  .track-title {
    top:27vh;
    }
    .volume-label {
      top:10.8vh;
      }
    .time-container{
      top: 8vh;
    }
}
@media screen and (max-width: 550px), (max-height: 690px) {
  .track-title {
    left: 13vw;
  }
}
@media screen and (max-width: 540px), (max-height: 690px) {
  .track-title {
    left: 14vw;
  }
}
@media screen and (max-width: 520px), (max-height: 690px) {
  .top-left-image {
    top: 26.5vh;
    width: 12vw;
    height: 10vh;
  }
  .track-title {
    top: 28vh;
  }
  .track-name,
.track-artist {
  margin-bottom: -1vh;
}
.slider {
  top:10vh;
}
.volume-label {
  top: 9.8vh;
  }
.time-container{
  top: 7vh;
}
}